@iocontrols:registry=https://iocontrols-735538182577.d.codeartifact.us-west-2.amazonaws.com/npm/iocontrols-nodejs/
# //iocontrols-735538182577.d.codeartifact.us-west-2.amazonaws.com/npm/iocontrols-nodejs/:always-auth=true
//iocontrols-735538182577.d.codeartifact.us-west-2.amazonaws.com/npm/iocontrols-nodejs/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
