$color-map: (
  primary: #1976d2,
  success: #72bf24,
  warn: #ffad0f,
  danger: #e52d27,
  secondary: #909399,
);

:root {
  // css variable
  --primary: #1976d2;
  --primary-15: color-mix(in srgb, var(--primary) 15%, white);
  --primary-25: color-mix(in srgb, var(--expander-primary) 25%, white);
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
