<span
  #reference
  class="atomic-popover__reference"
  role="button"
  [attr.tabindex]="disabled() ? -1 : 0"
  [attr.aria-expanded]="modelValue()"
  [attr.aria-haspopup]="ariaHasPopup()"
  [attr.aria-disabled]="disabled() ? 'true' : null"
  (click)="onClick()"
  (keydown)="onKeydown($event)"
  (mouseenter)="onMouseenter()"
  (mouseleave)="onMouseleave()"
  (focus)="onFocus()"
  (blur)="onBlur()"
  (touchstart)="onTouchstart()"
  (touchend)="onTouchend()"
>
  <ng-content select="[trigger]" />
</span>

@if (modelValue()) {
  <div #popover class="atomic-popover" [style]="floatingStyles()">
    <ng-content />
  </div>
}
