<header class="section">
  <h1>Atomic UI Lab for Angular v21</h1>
  <nav class="row">
    @for (link of links; track link.text) {
      <app-atomic-link [to]="link.to" [text]="link.text"></app-atomic-link>
      @if (!$last) {
        <span>|</span>
      }
    }
  </nav>
</header>
<mat-divider></mat-divider>
<section>
  <router-outlet />
</section>
<mat-divider></mat-divider>
<footer class="section">
  <p>
    To see the sourcecode with full unit tests and e2e test, visit the
    <app-atomic-link
      [to]="'https://github.com/boycany/ng-atomic-components-site'"
      [text]="'GitHub Repository'"
    ></app-atomic-link>
  </p>
</footer>
