<app-atomic-popover
  [(modelValue)]="active"
  [offset]="offset()"
  [placement]="placement()"
  [trigger]="trigger()"
>
  <ng-content select="[trigger]" ngProjectAs="[trigger]" />
  <ul #menu role="menu" class="atomic-dropdown" (keydown)="onMenuKeydown($event)" tabindex="-1">
    @for (item of itemsCompose(); track item.value) {
      <li
        role="menuitem"
        [attr.tabindex]="item.tabIndex"
        class="atomic-dropdown__menuitem"
        (click)="item.onClick()"
        (keydown)="item.onKeydown($event)"
      >
        {{ item.label }}
      </li>
    }
  </ul>
</app-atomic-popover>
