@if (!to()) {
  <button
    class="atomic-button"
    [class]="rootClass()"
    [disabled]="disabled()"
    [type]="type()"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-content select="[prepend]"></ng-content>
    <ng-content select="[label]"></ng-content>
    <ng-content select="[append]"></ng-content>
  </button>
} @else {
  <app-atomic-link
    [to]="to()"
    class="atomic-button"
    [class]="rootClass()"
    [text]="linkLabel()"
    [ariaLabel]="ariaLabel() ?? linkLabel()"
    [ariaDisabled]="disabled()"
    [tabIndex]="disabled() ? -1 : undefined"
  ></app-atomic-link>
}
