@use 'vars';

$name: '.atomic-button';

#{$name} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  cursor: pointer;
  height: var(--button-size);
  font-size: 0.875rem;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  outline: none;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;

  // size
  &--normal {
    --button-size: 36px;
    --button-padding: 20px;
  }

  &--small {
    --button-size: 32px;
    --button-padding: 10px;
  }

  &:disabled {
    cursor: not-allowed;
  }

  // shape
  &--rectangle {
    padding-right: var(--button-padding);
    padding-left: var(--button-padding);
    border-radius: 6px;
  }

  &--square {
    width: var(--button-size);
    border-radius: 6px;
  }

  &--circle {
    width: var(--button-size);
    border-radius: 9999px;
  }

  // variant
  &--contained {
    color: white;

    @each $color, $value in vars.$color-map {
      &#{$name}--#{$color} {
        background-color: rgba($value, 1);

        &:not(:disabled):is(:hover, :focus) {
          background-color: rgba($value, 0.8);
        }

        &:not(:disabled):active {
          background-color: rgba($value, 0.6);
        }
      }
    }

    &:disabled {
      background: lightgray;
    }
  }

  &--outlined {
    @each $color, $value in vars.$color-map {
      &#{$name}--#{$color} {
        color: rgba($value, 1);
        border-color: rgba($value, 0.5);

        &:not(:disabled):is(:hover, :focus) {
          background-color: rgba($value, 0.05);
          border-color: rgba($value, 1);
        }

        &:not(:disabled):active {
          background-color: rgba($value, 0.2);
        }
      }
    }

    &:disabled {
      color: lightgray;
      border-color: lightgray;
    }
  }

  &--text {
    @each $color, $value in vars.$color-map {
      &#{$name}--#{$color} {
        color: rgba($value, 1);

        &:not(:disabled):is(:hover, :focus) {
          background-color: rgba($value, 0.05);
        }

        &:not(:disabled):active {
          background-color: rgba($value, 0.1);
        }
      }
    }

    &:disabled {
      color: lightgray;
    }
  }
}
