<span>{{ title() }}</span>
<!-- keydown lives on the listbox (event delegation); focus is on the child options (roving tabindex), so the container itself need not be focusable. -->
<!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
<div
  class="options-list"
  role="listbox"
  [attr.aria-label]="title()"
  (keydown)="onOptionsKeydown($event)"
>
  @for (opt of options(); track opt) {
    @if (hasItemContainerTemplate()) {
      <ng-container
        *ngTemplateOutlet="
          itemContainer();
          context: {
            $implicit: opt,
            isSelected: opt === selectedOption(),
            tabIndex: opt === focusedOption() ? 0 : -1,
            onSelect: makeOnSelect(opt),
          }
        "
      />
    } @else {
      <button
        type="button"
        class="option-item"
        role="option"
        [tabIndex]="opt === focusedOption() ? 0 : -1"
        [class.is-selected]="opt === selectedOption()"
        [attr.aria-selected]="opt === selectedOption() ? 'true' : 'false'"
        (click)="onSelect(opt)"
      >
        @if (hasItemTemplate()) {
          <ng-container
            [ngTemplateOutlet]="itemTemplate()"
            [ngTemplateOutletContext]="{
              $implicit: opt,
            }"
          />
        } @else {
          {{ opt }}
        }
      </button>
    }
  }
</div>
