.example-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .example-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .field {
    border: 1px solid gray;
    background-color: rgb(231, 231, 231);
    width: 300px;
    height: 300px;
    position: relative;

    .ball {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba(104, 104, 104, 0.5);
      transform: translate(-50%, -50%);
    }
  }

  .example-second {
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), white, black);
  }
}
